body{
     background-image:url(new.jpg);
     background-size: 67%;
     margin:auto;
     padding:0;
     background-position:center;
     background-repeat:no-repeat;
     background-attachment: scroll;
     background-position-y: 0%;
}