body{
    background-image: url("i.jpg");
    background-size:cover;
    height:100vh;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    
}

#para{
    font-size:55px;
    margin-left: 35vw;
    margin-bottom: 5vh;
    margin-top:2vh;
}
div.button button{
    font-size: 16px;
}
div.button #ha{
    margin-left: 41vw;
    margin-right: 0.5vw;
}
div.button #ha:hover{
    cursor: pointer;
}
div.button #nahi{
    margin-left: 0.5vw;
    cursor:pointer;
    display:block;
}

div.emoji img{
    height:80px;
    margin-left: 46vw;
    margin-top: 40vh;
    visibility: hidden;
}