body{
background-image: url(login_bg.jpg);
background-size: cover;
height: 100vh;
display:flex;
justify-content: center;
align-items: center;
background-attachment: scroll;
background-repeat:no-repeat;
background-position: center;
}
div.form #form{
    display:flex;
    justify-content: center;
}
div.input{
    height:106px;
    width:260px;
    box-shadow:0 0 4px rgba(255 255 255 1)
    border: 3px;
    border-color: black;
}
div.u_input {
    display: block;
}
div.u_input #u_name{
    display:inline;
}
div.pass {
    display: block;
}
div.pass #pass{
    display: inline;
}
div.input #submit{
    display:block;
}