body{
background-image: url(login_bg.jpg);
background-size: cover;
height: 100vh;
display:flex;
justify-content: center;
align-items: center;
background-attachment: scroll;
background-repeat:no-repeat;
background-position: center;
backdrop-filter:blur(1.5px);
}

div.form_div{
    display:block;
    min-width: 310px;
    width:30%;
    height:80%;
    box-shadow: 0 0 8px rgba(255, 255, 255);
    justify-items: center;
    align-content: center;
    background-image: url(login_bg.jpg);
    background-size: cover;
    background-position: center;
}
.form{
    display:flex;
    justify-content: center;
}
div.input{
    color:rgb(8, 194, 104);
}
div.u_input {
    display: block;
    font-size: 30px;
    margin-bottom: 40px;
    flex-shrink: 1;
    min-width:15vw;
    
}
div.u_input #u_name{
    display:inline;
    width:50%
}
div.pass {
    display: block;
    font-size: 30px;
    margin-bottom: 40px;
}
div.pass #pass{
    display: inline;
    width:50%
}
div.input #submit{
    display:block;
    justify-self: center;
}
